@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  box-sizing: border-box;
}

.common-checkbox .ant-checkbox-wrapper {
  @apply mb-4;
  @apply text-lg;
}

.quote-form-submut-btn:hover {
  @apply text-slate-900 !important;
  @apply border-slate-900 !important;
}

.quote-form-item:nth-last-child(2) {
  @apply mb-4;
}

.hero-gradient {
  background: linear-gradient(90deg, hsla(277, 75%, 84%, 1) 0%, hsla(297, 50%, 51%, 1) 100%);
}
